Source: xrdp_local
Section: x11
Priority: optional
Maintainer: Shaul Kremer <shaulk@users.noreply.github.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 qmake6, qt6-base-dev,
 xrdp
Standards-Version: 4.6.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/xrdp_local
#Vcs-Git: https://salsa.debian.org/debian/xrdp_local.git

Package: xrdp_local
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 xrdp
Description: <insert up to 60 chars description>
 <Insert long description, indented with spaces.>
