Source: xrdp_local
Section: x11
Priority: optional
Maintainer: Shaul Kremer <shaulk@users.noreply.github.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 qt6-base-dev,
 libargparse-dev,
 xrdp
Standards-Version: 4.6.2
Homepage: https://github.com/shaulk/xrdp_local
Vcs-Browser: https://github.com/shaulk/xrdp_local
Vcs-Git: https://github.com/shaulk/xrdp_local.git

Package: xrdp_local
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 xrdp (= ${binary:Version})
Description: xrdp_local
 xrdp_local allows you to connect to local xrdp sessions without using RDP,
 in effect letting you switch your xrdp session between using the local hardware
 normally and connecting remotely using RDP.
